html {
    background: rgb(61,133,198);
    background: linear-gradient(63deg, rgba(61,133,198,1) 35%, rgba(177,218,255,1) 100%);
}
a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}